
*{
    font-family: Work sans;
}


/* style for header section */
.header{ 
    height: 808px;
    width: 1600px;
    background: url('banner1.png');
    background-repeat: no-repeat;
   
}
#headerId li{
    list-style: none;
    align-content: right;
}
#headerId{
    margin:-50pX 230px 167px 845px;

}

.title-text{
    padding-top: 216px;    font-size: 40px;
    font-weight: 700;
    text-align: right;
}

#paragraph{
    text-align: right;
    font-size: 16px;
    color: #444343;
}
.btn-primary{
    background:#FD6E0A;
    height: 64px;
    border-radius:5px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    color: #ffff;
    padding: 18px 35px;
    margin-left: 325px;
}



/* Style for main section */




#mainDiv{
    display: flex;
    margin-left: 206px;
    margin-top: 131px;

}



#divId1{

    margin-left: 78px;
    list-style: none;
    margin-right: 322px;
    margin-top: 370px;
}

.title{
color: #151414;
font-size: 40px;
font-weight: 700;
text-align: left;

}

.paragraph{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
}


/* My plan section */


table{

    
    width: 900px;
    margin-left: 220px;
    margin-top: 130px;
}

th{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 100px;
    
}


/* last part of main */


.mindset-container{
    margin-left: 64px;
    padding-top: 30px;
}
.mindset
{
margin-top: 100px;
margin-left: 230px;
background:url(./images/gradient2.png),url(./images/watch.png);
background-repeat: no-repeat;
height: 400px;
}
#title{
    color: aliceblue;
    font-size: 40px;
    width: 600px;
}
.mindset-btn{
    color: #FD6E0A;
    border: 0;
    height: 64px;
    width: 100px;
    border-radius: 5px;
    font-weight:600;
    font-size: 20px;
    
}










/* footer-part */
.footer{
    background-color: #151414;
}
.flex{
    color: aliceblue;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 100px;
    margin-left: 231px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#input{
    display: block;
    height: 40px;
    width: 300px;
    border-radius: 7px;
    background-color: rgb(221, 196, 196);
    color: aliceblue;
    margin-bottom: 20px;
}
.footer-btn{
    color: #FD6E0A;
    border: 0;
    height: 44px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}
.icon{
    margin-left: 231px;
}